@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900');
@import url('../fonts/verdana.ttf');
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #f8f8f8;
    font-family: 'Roboto';
}

::-webkit-scrollbar {
    width: 0px;
}

.clr {
    clear: both;
}

.header {
    height: 350px;
    background-color: #abeafa;
    font-family: 'Raleway';
}

.header-index {
    height: 700px;
}

.header-contact {
    background: url(../img/maps.png) no-repeat 50% rgba(193, 193, 193, 0.8);
}

.header-container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    margin-left: 69px;
    margin-top: 24px;
    width: 125px;
    height: 111px;
    float: left;
    background-image: url(../img/surfhouse%20logo.png);
}

.header-social {
    width: 200px;
    line-height: 35px;
    float: right;
    margin-right: 8px;
    margin-top: 40px;
    padding-left: 24px;
    box-sizing: border-box;
}

.header-social-contact {
    background-color: rgba(193, 193, 193, 0.8);
}

.header-social a {
    color: #ffffff;
    margin-right: 10px;
}

.header-social a:hover {
    text-shadow: 0 0 20px #000000;
}

.header-social a:last-child {
    margin-right: 0;
}

.cart {
    position: absolute;
    right: 140px;
    top: 377px;
    z-index: 10;
}

.cart-index {
    top: 710px !important;
}

.cart a {
    color: #717171;
}

.cart a:hover {
    text-shadow: 0 0 20px #000000;
}

.welcome {
    width: 270px;
    height: 300px;
    background-color: #fff51f;
    margin-top: 201px;
    color: #333333;
    font-weight: 700;
    float: left;
}

.welcome h2 {
    font-size: 30px;
    line-height: 30px;
    margin-left: 25px;
    margin-top: 82px;
    text-transform: uppercase;
}

.welcome p {
    font-size: 18px;
    line-height: 14px;
    margin: 24px 28px 30px 22px;
}

.title {
    width: 313px;
    height: 169px;
    color: #fff51f;
    float: right;
    margin-right: 109px;
    margin-top: 108px;
}

.title h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}

.title p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.title a {
    display: block;
    background-color: #fff51f;
    width: 124px;
    text-transform: uppercase;
    margin-top: 62px;
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    line-height: 49px;
    text-align: center;
}

.title a:hover {
    background-color: #faef03;
}

.title a:active {
    background-color: #fff51f;
}

.main-container {
    width: 1170px;
    margin: 0 auto;
}

.navy {
    float: left;
}

.menu {
    width: 270px;
    background-color: #26d2fc;
    position: relative;
}

.menu-index {
    margin-top: -20px;
}

.menu li {
    list-style-type: none;
}

.menu>li:first-child {
    background-color: #333333;
    height: 66px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    padding-left: 42px;
}

.menu li a {
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-transform: uppercase;
    padding-left: 40px;
    display: block;
}

.menu li a:hover {
    background-color: #333333;
    color: #ffffff;
}

.sub-menu-open:hover .sub-menu {
    visibility: visible;
}

.sub-menu {
    width: 155px;
    background-color: #75e3fe;
    visibility: hidden;
    position: absolute;
    left: 270px;
    top: 195px;
    z-index: 1;
}

.apparel {
    position: absolute;
    top: 109px;
}

.sub-menu li {
    background: url(../img/item.png) no-repeat left 14px center;
}

.sub-menu li a {
    padding-left: 27px;
}

.sub-sub-menu-open:hover .sub-sub-menu {
    visibility: visible;
}

.sub-sub-menu {
    width: 165px;
    background-color: #81e6ff;
    visibility: hidden;
    position: absolute;
    left: 155px;
    top: 86px;
    z-index: 1;
}

.menu-arrow {
    margin-left: 67px;
    vertical-align: middle;
}

.aside {
    width: 270px;
    height: 300px;
    background-color: #e0e0e0;
    margin-top: 30px;
}

.aside a {
    font-family: 'Raleway';
    font-style: italic;
    color: #333333;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    padding-left: 142px;
    padding-top: 129px;
    text-transform: uppercase;
    display: block;
}

.products,
.product-page,
.contact_us {
    margin-left: 300px;
}

.breadcrumbs {
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 33px 20px 65px;
}

.breadcrumbs a {
    color: #989898;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs-active {
    background-color: #faef03;
    display: inline-block;
}

#p_auth,
#p_register {
    margin-top: 30px;
}

#show_more {
    clear: both;
    display: block;
    line-height: 50px;
    text-align: center;
}

.contact {
    display: inline-block;
    padding-right: 23px;
    position: relative;
}

.contact p {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
}

.contact input,
.contact textarea {
    width: 350px;
    margin-top: 7px;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 18px;
    box-sizing: border-box;
    border: solid 1px #efefef;
}

.contact input[type="submit"] {
    color: #333333;
}

.contact textarea {
    height: 150px;
    resize: none;
}

.contact:after {
    position: absolute;
    top: 60px;
    left: 373px;
    height: 65%;
    border-right: solid 1px rgba(167, 167, 167, 0.8);
    content: '';
}

.address {
    padding-left: 23px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.address h4 {
    color: #353535;
    font-size: 18px;
    font-weight: 900;
    line-height: 14px;
    margin-bottom: 17px;
}

.geolocation {
    color: #777777;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    text-indent: -0.5em;
    margin-left: 7px;
}

.fa-map-marker {
    color: #333333;
}

.lorem {
    color: #818181;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin: 0.5em 0 1.5em;
    width: 170px;
}

.phone-address {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.8px;
}

.phone-address:hover {
    text-decoration: underline;
}

.email-address {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-decoration: underline;
}

.customer-service {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.product {
    background-color: #ffffff;
    width: 250px;
    height: 300px;
    margin: 30px 30px 30px 0;
    padding: 10px;
    float: left;
    position: relative;
}

.product:hover {
    box-shadow: 0 0 15px #555555;
}

.products a:nth-child(3n+4) {
    margin-right: 0;
}

.last-product {
    margin-bottom: 130px;
}

.like-products,
.viewed-products {
    display: inline-block;
}

.like-products h2,
.viewed-products h2 {
    font-family: 'Raleway';
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 70px;
}

.product-image {
    background-color: #eaeaea;
    width: 250px;
    height: 235px;
}

.product-info {
    margin-left: 16px;
    margin-top: 24px;
    float: left;
    color: #333333;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    line-height: 18.012px;
    width: 55%;
}

.product-price {
    margin-right: 4px;
    margin-top: 27px;
    float: right;
    color: #333333;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    width: 34%;
}

.sale {
    color: #e24602;
    font-size: 14px;
    text-decoration: line-through;
}

.new {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 46px solid #e24602;
    border-left: 46px solid transparent;
}

.new-title {
    position: absolute;
    top: 10px;
    right: 6px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 9px;
    font-weight: 600;
}

.hot {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 46px solid #faef03;
    border-left: 46px solid transparent;
}

.hot-title {
    position: absolute;
    top: 10px;
    right: 4px;
    text-transform: uppercase;
    color: #000000;
    font-size: 9px;
    font-weight: 600;
}

.product-page-images {
    width: 370px;
    display: inline-block;
}

.product-image-big {
    width: 370px;
    height: 370px;
    background-color: #eaeaea;
    border: 2px solid #eeeeee;
    margin: -15px 0 24px;
    display: inline-block;
}

.product-image-small {
    width: 70px;
    height: 110px;
    background-color: #eaeaea;
    display: inline-block;
    margin-right: 30px;
}

.product-image-small:hover {
    box-shadow: 0 0 15px #555555;
}

.product-page-images>a:first-child {
    margin-left: 50px;
}

.product-image-small-active {
    background-color: #ffffff;
}

.product-image-small-active:hover {
    box-shadow: none;
}

.product-page-info {
    width: 440px;
    float: right;
    margin-top: -10px;
    text-align: center;
}

.product-page-info h3 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.product-page-info h4 {
    color: #111111;
    font-size: 21.99px;
    font-weight: 500;
    font-style: italic;
    margin: 53px 0 52px 0;
    text-align: left;
}

.product-page-info h5 {
    color: #353535;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.product-page-info p {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.product-page-info p:before {
    position: absolute;
    top: -45px;
    left: 30px;
    width: 88%;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    content: '';
}

.product-page-info p:after {
    position: absolute;
    bottom: -18px;
    left: 30px;
    width: 88%;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    content: '';
}

.add-to-cart {
    background-color: #fb4d01;
    color: #ffffff;
    font-size: 15.99px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
}

.add-to-cart:hover {
    background-color: #e24602;
}

.product-description {
    font-family: 'Verdana';
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    padding: 12px 23px 21px 13px;
    margin-bottom: 30px;
    border: 1px solid rgba(51, 51, 51, 0.1);
}

.product-description-tab {
    background-color: #26d2fc;
    color: #333333;
    font-size: 10.91px;
    font-weight: 600;
    line-height: 35px;
    padding: 0 16px;
    margin: 42px 0 0 19px;
    text-transform: uppercase;
    display: inline-block;
}

.new-products {
    width: 870px;
    background-color: #f8f8f8;
    margin-top: -20px;
    padding-top: 31px;
    display: inline-block;
}

.new-products h3 {
    color: #717171;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    padding-left: 25px;
    text-transform: uppercase;
}

.top-products {
    width: 870px;
    background-color: #f8f8f8;
    margin-top: 46px;
    padding-top: 31px;
    display: inline-block;
}

.top-products h3 {
    color: #717171;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    padding-left: 28px;
    text-transform: uppercase;
}

.sale-products {
    width: 870px;
    background-color: #f8f8f8;
    margin-top: 50px;
    padding-top: 31px;
    display: inline-block;
}

.sale-products h3 {
    color: #717171;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    padding-left: 28px;
    text-transform: uppercase;
}

.brands {
    background: url(../img/brands.png) no-repeat 50% #ffffff;
    height: 160px;
    margin-top: 30px;
}

.brands-contact {
    margin: -160px 0 123px;
}

.instagram {
    background-color: #eaeaea;
    height: 350px;
    text-align: center;
    padding: 50px 0 60px 0;
    box-sizing: border-box;
    color: #333333;
    font-weight: 900;
    font-style: italic;
}

.fa-instagram {
    color: #333333;
}

.instagram-feed {
    font-size: 22px;
}

.instagram-hashtag {
    color: #333333;
    font-size: 18px;
}

.instagram-photo {
    float: left;
    margin: 26px 12px 0 0;
    transition: 1s;
}

.instagram-photo:last-child {
    margin-right: 0;
}

.instagram-photo:hover {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.facebook,
.twitter,
.pinterest {
    width: 390px;
    height: 150px;
    float: left;
    color: #ffffff;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.facebook {
    background-color: #3b5997;
}

.twitter {
    background-color: #3fccfd;
}

.pinterest {
    background-color: #cb2027;
}

.footer {
    height: 301px;
    background-color: #373737;
}

.footer-container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 75px 25px 65px;
    box-sizing: border-box;
}

.footer h4 {
    font-family: 'Raleway';
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.footer li {
    list-style-type: none;
}

.footer a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.newsletter p {
    color: #f8f8f8;
}

.category,
.account,
.support,
.newsletter,
.about {
    display: inline-block;
    vertical-align: top;
}

.category,
.account {
    width: 120px;
    margin-right: 70px;
}

.support {
    width: 120px;
    margin-right: 60px;
}

.newsletter {
    width: 267px;
    margin-right: 45px;
}

.about {
    width: 230px;
}

.category h4,
.account h4,
.support h4 {
    margin-bottom: 30px;
}

.newsletter h4,
.about h4 {
    margin-bottom: 8px;
}

.newsletter h4 {
    margin-left: 8px;
}

.newsletter p {
    margin: 0 40px 0 8px;
}

.newsletter form {
    margin: 20px 8px 45px;
}

.newsletter input[type="email"] {
    background-color: #fff51f;
    width: 180px;
    height: 30px;
    padding: 0 21px;
    box-sizing: border-box;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    border: 0;
}

.newsletter input[type="submit"] {
    background-color: #000000;
    width: 71px;
    height: 30px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    border: 0;
}

.newsletter a {
    margin-right: 6px;
}

.newsletter a:last-child {
    margin-right: 0;
}

.newsletter img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.phone-email {
    font-size: 14px;
    line-height: 23.4px;
}

a.phone {
    font-size: 14px;
    line-height: 36px;
}

a.email {
    color: #faef03;
    font-size: 14px;
}

.copyright {
    background-color: #333333;
}

.copyright-container {
    width: 1170px;
    margin: 0 auto;
    line-height: 47px;
}

.copyright-container p {
    color: #dad9d9;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.copyright-container a {
    color: #dad9d9;
}

.footer-social {
    float: right;
    margin-right: 20px;
}

.footer-social a {
    color: #ffffff;
    margin-right: 10px;
}

.footer-social a:hover {
    text-shadow: 0 0 20px #ffffff;
}

.footer-social a:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1170px) {
    body {
        display: inline-block;
    }
}
